gymnasium>=1.0.0
imitation
nashpy>=0.0.39
numpy>=2.0.0
git+https://github.com/cameronangliss/poke-env.git@thesis1
sentence-transformers
stable_baselines3>=2.0.0
supersuit==3.9.3
tensorboard
torch
torch-tb-profiler
