gymnasium>=1.0.0
# imitation>=1.0.0  # NOTE: Conflicts with gymnasium>=1.0.0, needed only for pretrain.py
nashpy>=0.0.39
numpy>=2.0.0
git+https://github.com/cameronangliss/poke-env.git@thesis1
sentence-transformers
stable_baselines3>=2.3.0
shimmy[gym-v26]
supersuit==3.9.3
tensorboard
torch
torch-tb-profiler
